
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    color: white;
    background-color: rgb(36, 23, 95);
    font-family: 'Inconsolata', monospace;    
}
.container{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.centrar{
    text-align: center;
    margin-top: 250px;
}
.separar{
    margin-top: 20px;
}
.flex{
    display: flex;
}
.flex-centrar{
    justify-content: center;
    align-items: center;
}

.rec-password{
    position: relative;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    -webkit-box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
    -moz-box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
    box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
}
.password{
    color: rgba(0, 0, 0, 0.275);
    position: absolute;
    top: 280px;
    left: 200px;
    right: 200px;
    text-align: center;
}
.button{
    width: 250px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    padding: 10px;
    border: 0px solid ;
    border-radius: 5px;
    background-color: rgb(146, 58, 228);
    color: white;
    -webkit-box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
    -moz-box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
    box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
}
.button:hover{
    background-color: rgba(173, 114, 228, 0.471);
}
#button-generate-pass:disabled{
    background-color: rgba(216, 194, 221, 0.785);
}
.linea{ 
    accent-color: rgb(255, 255, 255);
    height: 3px;
    width: 200px;
}
.separar-num{
    padding: 0px 10px 0px 10px;
}
.secondBox{
    background-color: rgba(115, 39, 187, 0.497);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
    -moz-box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
    box-shadow: -4px 1px 7px 0px rgba(42,10,74,1);
}
.options{
    text-align: left;
}
.options-individual{
    padding: 10px;
}
.flex-checkbox{
    align-items: center;
    justify-content: space-between;
}
.input{
    display: none;
}
.label{
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(132, 116, 134);
    transform: background-color 0.3s;
}
.label::after{
    content: '';
    position: absolute;
    left: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: beige;
    transition: transform 0.3s;
}
.input:checked + .label{
    background-color: rgb(226, 43, 202);
}

.input:checked + .label::after{
    transform: translateX(100%);
}